{% extends 'nav.html' %} {% block content %}
    <div class="container mx-auto">
    <img src="/static/evelyn.jpg" class="rounded-circle mx-auto d-block" alt="Evelynn Portrait" style="width: auto; height: 400px;  ">
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    
        <div>
            <h1 style="text-align:center; color:aliceblue ; font-family: 'Courier New';"><b>WHO IS EVELYNN?</b></h1>
            <p class="text-light " style="font-family: 'Courier New'; margin-left: 100px; margin-right: 100px; text-align:center; 
            text-shadow: 1px 1px purple; ">
                No one is as deliciously volatile as Evelynn. She's a diva who drives divisiveness in the 
                media—they love her one day and hate her the next, her name a permanent fixture of tabloid headlines. 
                She is a born superstar, and the foundation of K/DA's sound.
                 <br>
                 <br>
                 With a single devastating glance, Evelynn can ensure that all eyes are on her—when she wants them to be. 
                 K/DA's success has ensured that this provocative diva's name will be on everyone's lips, but Evelynn is 
                 intent that her killer fashion sense will keep it there.
            </p>
        </div>
    
        <br>
        <br>
        <br>
            <div>
                <p class="text-light " style="font-family: 'Courier New'; margin-left: 100px; margin-right: 100px; text-align:center; 
                text-shadow: 1px 1px purple; ">
                Check out Evelynn's solo song off KDA's EP: ALL OUT called 'Villain'
                 </p>   
            </div>
        <br>
        <br>
        <div style="text-align:center;">
            <iframe width="1120" height="630" src="https://www.youtube.com/embed/xoWxv2yZXLQ" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br><br>
        <h2 style="text-align:center ; color:aliceblue ; text-shadow: 1px 1px purple;"><b>Slideshow Gallery</b></h2>
    
        <div class="container">
          <div class="mySlides">
            <div class="numbertext">1 / 7</div>
            <img src="/static/evelynn/eve1.jpg" style="width:100%">
          </div>
        
          <div class="mySlides">
            <div class="numbertext">2 / 7</div>
            <img src="/static/evelynn/eve2.jpg" style="width:100%">
          </div>
        
          <div class="mySlides">
            <div class="numbertext">3 / 7</div>
            <img src="/static/evelynn/eve3.jpg" style="width:100%">
          </div>
            
          <div class="mySlides">
            <div class="numbertext">4 / 7</div>
            <img src="/static/evelynn/eve4.jpg" style="width:100%">
          </div>
        
          <div class="mySlides">
            <div class="numbertext">5 / 7</div>
            <img src="/static/evelynn/eve5.jpg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">6 / 7</div>
            <img src="/static/evelynn/eve6.jpg" style="width:100%">
          </div>
        
          <div class="mySlides">
            <div class="numbertext">7 / 7</div>
            <img src="/static/evelynn/eve7.jpg" style="width:100%">
          </div>
            
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
        
          <div class="caption-container">
            <p id="caption"></p>
          </div>
        
          <div class="row">
            <div class="column">
              <img class="demo cursor" src="/static/evelynn/eve1.jpg" style="width:100%" onclick="currentSlide(1)" alt="Kai'sa teaching the girls the dances">
            </div>
            <div class="column">
              <img class="demo cursor" src="/static/evelynn/eve2.jpg" style="width:100%" onclick="currentSlide(2)" alt="KDA taking a much needed break">
            </div>
            <div class="column">
              <img class="demo cursor" src="/static/evelynn/eve3.jpg" style="width:100%" onclick="currentSlide(3)" alt="KDA arriving at Shanhai Airport">
            </div>
            <div class="column">
              <img class="demo cursor" src="/static/evelynn/eve4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Out on the town of Shanhai">
            </div>
            <div class="column">
              <img class="demo cursor" src="/static/evelynn/eve5.jpg" style="width:100%" onclick="currentSlide(5)" alt="Promotional work in magazines">
            </div>    
            <div class="column">
              <img class="demo cursor" src="/static/evelynn/eve6.jpg" style="width:100%" onclick="currentSlide(4)" alt="Out on the town of Shanhai">
            </div>
            <div class="column">
              <img class="demo cursor" src="/static/evelynn/eve7.jpg" style="width:100%" onclick="currentSlide(5)" alt="Promotional work in magazines">
            </div>    
        </div>
        </div>
    <br><br><br><br>
{% endblock %}