{% extends 'nav.html' %} {% block content %}
    <div class="container mx-auto">
    <img src="/static/Seraphine.jpg" class="rounded-circle mx-auto d-block" alt="Seraphine Portrait" style="width: auto; height: 400px;  ">
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    
        <div>
            <h1 style="text-align:center; color:aliceblue ; font-family: 'Courier New';"><b>WHO IS SERAPHINE?</b></h1>
            <p class="text-light " style="font-family: 'Courier New'; margin-left: 100px; margin-right: 100px; text-align:center; 
            text-shadow: 1px 1px purple; ">
                With a stunning voice and a sunny disposition, Seraphine has 
                big dreams about her music and what she can offer the world. She knows that someday, if she just keeps trying, 
                she'll make her beloved cat Bao proud.
                 <br>
                 <br>
                 Seraphine's life is changing faster than she ever expected, and she's trying to hold on 
                 to her unique voice, keep up with Kai'Sa's intimidatingly sharp choreography, and still somehow manage to get enough sleep.
                 <br>
                 <br>
                 After her whirlwind rise to stardom, Seraphine is on top of the world, and the charts, with her feature on 
                 K/DA's new EP. Her music and her message are resonating with her fans, and she's excited to show them 
                 what's to come on her journey of self-discovery through music.
            </p>
        </div>
    
        <br>
        <br>
        <br>
            <div>
                <p class="text-light " style="font-family: 'Courier New'; margin-left: 100px; margin-right: 100px; text-align:center; 
                text-shadow: 1px 1px purple; ">
                Seraphine was only a collaborator on 'More' and does not have her own song on the EP, but she has her own single 'Made me this Way'
                 </p>   
            </div>
        <br>
        <br>
        <div style="text-align:center;">
            <iframe width="1120" height="630" src="https://www.youtube.com/embed/wkFGt-66oeY" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
        </div>
<br><br><br>
        <h2 style="text-align:center ; color:aliceblue ; text-shadow: 1px 1px purple;"><b>Slideshow Gallery</b></h2>
    
        <div class="container">
          <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img src="/static/sera/sera.jpg" style="width:100%">
          </div>
        
          <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img src="/static/sera/sera1.jpg" style="width:100%">
          </div>
        
          <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img src="/static/sera/sera2.jpg" style="width:100%">
          </div>
            
          <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img src="/static/sera/sera3.jpg" style="width:100%">
          </div>
        
          <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img src="/static/sera/sera4.jpg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img src="/static/sera/sera5.jpg" style="width:100%">
          </div>
        

            
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
        
          <div class="caption-container">
            <p id="caption"></p>
          </div>
        
          <div class="row">
            <div class="column">
              <img class="demo cursor" src="/static/sera/sera.jpg" style="width:100%" onclick="currentSlide(1)" alt="Seraphine working on music">
            </div>
            <div class="column">
              <img class="demo cursor" src="/static/sera/sera1.jpg" style="width:100%" onclick="currentSlide(2)" alt="Seraphine in Shanghai">
            </div>
            <div class="column">
              <img class="demo cursor" src="/static/sera/sera2.jpg" style="width:100%" onclick="currentSlide(3)" alt="Instagram selfie">
            </div>
            <div class="column">
              <img class="demo cursor" src="/static/sera/sera3.jpg" style="width:100%" onclick="currentSlide(4)" alt="Cat selfie with Bao">
            </div>
            <div class="column">
              <img class="demo cursor" src="/static/sera/sera4.jpg" style="width:100%" onclick="currentSlide(5)" alt="Hanging out at the Aquarium">
            </div>    
            <div class="column">
              <img class="demo cursor" src="/static/sera/sera5.jpg" style="width:100%" onclick="currentSlide(4)" alt="Photo still from More music video">
            </div>
   
        </div>
        </div>
    <br><br><br><br>
{% endblock %}